body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #76b852;
}
.title {
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-top: 1cm;
}
.instruction {
    background-color:#8FBC8F;
    width: 100%;
    padding-bottom: 20px;
}
.instruction h1 {
    color: ivory;
    color: ivory;
    text-align: center;
}
.instruction p {
    font-size: 30px;
    color: ivory;
    text-align: center;
}
.instruction a {
    font-size: 15px;
    color: ivory;
    font-weight: bolder;
    padding-left: 3rem;
}
form {
    font-size: 25px;
    margin-left: 3rem;
}
.questions strong {
    font-weight: bolder;
    margin-top: 1.5rem;
    display: inline-block;
}
.questions label {
    background-color: #51a9ab;
    font-size: 20px;
    padding: 5px;
    border-radius: 30px;
    position: relative;
    justify-content: center;
    border: none;
    display: inline-block;
    margin-top: 1rem;
}
.button {
    justify-content: center;
    margin-left: 40%;
}
.button input[type="submit"] {
    background-color: #51a9ab;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    min-width: 300px;
    border: none;
}
.button input[type="submit"]:hover {
    background-color: darkcyan;
}
.results {
    text-align: center;
    color: ivory;
}
.results p{
    transition: width 2s;
    background-color: #51a9ab;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    border: none;
}