body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:white;
    background: url(black.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    width: 100%;    
    transition: ease-in;
    transition-duration: 0.5s;    
}
.bg {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65), 
    rgba(0,0,0,0.38), rgba(0,0,0,0.95));
    min-height: 1000px;
    position: fixed;
    display: flex;
}

.box{
flex-basis:100%;
display: fixed;
max-height: 100px;
}

.box div{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
  }
  .box div a{
  text-decoration: none;
  color: white;
  }
  .box div a:hover{
  color: orange;
  }

.menu div{
	text-align: center;
}
