body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:white;
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    width: 100%;    
}

.bg {
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65), 
    rgba(0,0,0,0.38), rgba(0,0,0,0.95));
    min-height: 1000px;
    display: flex;
}

.box {
flex-basis:70%;
display: flex;
max-height: 100px;
margin-top: 20px;
margin-left: 50px;
}

.box div{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

.box div:hover{
	color: orange;
}

.wd{
    flex-basis: 30%;
	background-color: black;
	opacity: 0.9;
    padding: 55px;
}

img{
    float:center;
}

.reserv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.reserve input[type=submit] {
	width: 100%;
	background-color: black;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
.reserve input[type=submit]:hover {
	background-color: orange;
  }