body {
  background-color: gray;
}

h1 {
  color: navy;
  margin-left: 20px;
  text-align: center;
}
h5 {
  text-align: center;
}
* {
    margin: 0;
    padding: 0;
}


h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

img {
  float: right; 
  margin-right: 120px; 
  margin-top: 25px;
  width: 300px;
}

#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2; color: black;}

//#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: black;}